.Inputfield {
/*  margin-bottom: 10px; */
  margin: 0 auto;
  padding-bottom: 10px;
}

.Inputfield .inputbox {
  width: 100%;
  display: flex;
  gap: 10px;
}

.Inputfield input {
  flex: 1;
  box-sizing: border-box;
  border: 1px solid rgb(0,0,0);
  border-radius: 5px;
  padding: 5px;
}

/* .Inputfield input:focus {
  outline: none;
  border: 1px solid #1f93ff;
}
마우스로 박스를 클릭하면 #1f93ff로 반짝임 */

.Inputfield button {
  cursor: pointer;
  width: 30px;
  border: none;
  background-color: rgb(245,245,245);
  color: rgb(0,0,0);
  border-radius: 5px;
}